@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-bg: #F4EDE4;
    --purple: #4a154B;
    --blue: #1264A3;
    --text: #222222;
    --green: #009788;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--primary-bg);
}

.row {
    margin:0;
}

.main_menu {
    background: var(--primary-bg);
}

.navbar {
    background: var(--primary-bg);
    font-size: 120%;
    line-height: 4rem;
    color: var(--text);
}

.navbar-brand {
    font-weight: 600;
    font-size: 150%;
    color: var(--text);
}

.header {
    text-align: center;
    font-size: 120%;
    background: var(--primary-bg);
}

.card {
  background: white;
  border-radius: 8px;
  border: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* max-height: 500px; */
  overflow-y: auto;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.25s;
}

.card-title {
    color: var(--purple)
}

.card-role {
    color: var(--blue);
}

.footer {
    background: var(--purple);
    color: white;
    font-size: 75%;
    text-align: center;
}